<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @worse_condition.content %>
</p>

<%= link_to 'Edit', edit_worse_condition_path(@worse_condition) %> |
<%= link_to 'Back', worse_conditions_path %>
