<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @better_condition.content %>
</p>

<%= link_to 'Edit', edit_better_condition_path(@better_condition) %> |
<%= link_to 'Back', better_conditions_path %>
